<div class="row">
  <div class="list-group">
    {{#each messages as |message|}}
      <div class="list-group-item">
        <img src={{message.user.thumbnail}} />
        <span class="list-group-item-heading name">{{message.user.name}}</span>
        -
        <span class="date">{{moment-from-now message.createdAt}}</span>
        :
        <span class="list-group-item-text content">{{message.content}}</span>
      </div>
    {{/each}}
  </div>
  {{#bs-form action="send"}}
    {{#bs-form-group}}
      {{bs-input value=message placeholder="Message..." autocomplete="off"}}
    {{/bs-form-group}}
 {{/bs-form}}
</div>
